.fixed{position:fixed;
width:100%;
z-index: 1;}

.flex{display:flex;}
.grid{
    display:grid;
    grid-template-columns:1.5fr 1.5fr;
}
.grid1{
    display:grid;
    grid-template-columns: 3.0fr 1.5fr 1.5fr;
}
.grid2{
    display:grid;
    grid-template-columns: 3.0fr;
}
.grid3{
    display:grid;
    grid-template-columns:3.0fr 3.0fr 3.0fr;
}
.grid4{
    display:grid;
    grid-template-columns:1fr 1fr 3fr;
}
.grid5{display:grid;
grid-template-columns:2.5fr 0.5fr;}

a{
    margin-left: 5px;
    text-decoration: none;
    color: #ff0d6f;
    border-radius:10%
}
.btn:hover{
    background-color: #ff0d6f;
}

/*post*/
.card img {
    width:100%;
    height: 400px;
    object-fit: cover;
}

.post-content{
    width:100%;
    height: 220px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

/*single*/

.post-solo{
    margin-top:50px;
}
.post-solo img{
    width:100%;
    object-fit: cover;
}

/*side-bar single*/
#sidebar img {object-fit: cover;
width:100%;}
#sidebar a{color:#ff0d6f}
#sidebar {
    margin-top:50px;
    padding:10px;
    margin-left: 10px;
    height:700px;
    background-color: #141414;
}
#sidebar p{
    color:#fff;
}
#sidebar li{list-style: none;;}

/*Sidebar-Home*/
.sidebar-home-init{ 
    margin-bottom:20px;
}

.sidebar-home{ 
    color:#1e847f;
    background-color: #80a3b7;
} 

.sidebar-home img { 
    padding: 10px;
} 

.sidebar-home-content {
    background-color: #052a3e;
    color:#1e847f;
    text-align:center;
}
.sidebar-home p{
 padding: 10px
}

/*services*/

li{
    list-style: none;
}
.wp-block-image img{
    width: 300px;
    height: 300px;
}
.item-service p{
    height: 400px;
    overflow: hidden;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
}
.item-service {
    height:800px;
}
/*serch page*/

.base-post-search{
    width: 1fr;
    height: 800px;
    flex:wrap;   
}
.content-post-search{
    width: 100%;
    height: 100%;
    position: relative;
}

.title-post-search h2{
    color: black;
    text-align: center;
}


.thumb-img{
    width:400px;
    height: 400px;
}
.thumb-img img{
    width:400px;
    height:400px;
    object-fit: cover;
    border-radius:50%;
}

/*Copyright*/
.copyright p{
 color: #fff;
}

/*menuzinho*/

.menu-desafio{}

.menu-desafio p{
    color: #141414;
    text-align: center;
}

.menu-desafio h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ff0d6f;
    text-align: center;
}

.menu-desafio-buttons{
    margin-left: 30%;
}
.menu-desafio-buttons a{
    margin-top:30px;
    text-align: center;
    font-size:40px;
    margin-left:20px;
    margin-bottom: 100px;
    border-radius:20% 20% 20% 20%;
    padding:10px;
}

.menu-desafio-button1{margin-right: 10%;}
.menu-desafio-button2{}

/*nav menu*/


/* template archives */

.thumb-archive img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius:50%;
}


.title-post-archive{text-align: center;}

/* About me*/

.mytitle h2{
    color:#ff0d6f;
    margin-top:100px;
    width:400px;
    background-color: #141414;
}
.about-me{
    height: auto;
    border-radius: 10%;
    
}
.myimg{height: 300px;}
.myimg img{
    border-radius: 70%;
    object-fit: cover;
    align-items: center;
    height:250px;
    width: 100%;
}

.mytext p{color: #ff0d6f;
    width: 100%;
    height: auto;
text-align: center;
padding:20px;
background-color: #141414}

/*page-form*/

.form-principal-form h2 {
    margin-top:30px;
}

.form-img{
    width:400px;
    height: 400px;
}
.form-img img{
    width:100%;
    height:100%;
    border-radius: 50%;
    background-color: #141414;
    object-fit: cover;
}


.form-dados h2{
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
}
.names{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 35%;
}
.your-email{
    text-align: center;
}

.your-message p{text-align: center;
margin-top: 40px;
margin-bottom: 20px;}

.your-buttons{
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    height:100px;
    margin-bottom: 30px;
}
.your-buttons a{
    text-align: center;
    height: 80%;
    width: 60%;
    margin-left:25%;
    font-size: 30px;
    background-color: #141414;
    padding-top: 10px;
}

.your-buttons a:hover{background-color:aliceblue}

/*contact */
.card{
   margin-left: 10px;
}


/*slider post*/

.slider-post img{
    max-width:100%;
    max-height:100%;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

/*degrade page*/

.img-init-degrade img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.inicio-degrade-content{margin-top:30px;
}
.inicio-degrade-content h2{margin-top:20px;
    text-align:center;
}
.inicio-degrade-content p{text-align:center;
}

.gallery-degrade ul{
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
}

.gallery-degrade img{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius: 50%;
    margin-bottom:5px;
    transition: transform .9s ease-in-out;
}
.gallery-degrade img:hover{ 
    transform: rotateY(180deg);
}

.degrade-img-text img{
    width:400px;
    height:400px;
    object-fit:cover;
    margin-top: 10px;
}

.degrade-img-text .text-image-degrade{
    width:400px;
    height:400px;
    margin-top: 10px;
}
.ending-page-degrade{ 
    margin-top: 30px;
}


/*menssagem page*/

.menssage-img-principal img{
    width:100%;
    height:400px;
    object-fit:cover;
    margin-top:0.1px;
}

.menssage-content-secondary{ 
    margin-top:50px;
    margin-bottom:10px;
}

.text-content-menssage{ 
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.gallery-menssage ul{
    display:grid;
    grid-template-columns: 1.5fr 1.5fr;
   }
   
.gallery-menssage img{
       width:300px;
       height:300px;
       object-fit:cover;
       border-radius: 50%;
       margin-bottom:5px;
       transition: transform .9s ease-in-out;
}
.gallery-menssage img:hover{ 
       transform: rotateY(180deg);
   }


.button-menssage-img{ margin-top: 60px;}
.button-menssage-img img{ border-radius:50%;}
.button-menssage-img h2{text-align: center;
}
.button-menssage-img:hover h2{color:#fff; text-align: center;
    }

.formulario-menssage{
    padding:20px;
}

.formulary-menssage{
    margin-left: 30px;
}

.text-form-menssage{ 
    font-family: 'Courier New', Courier, monospace;
}
.menssage-ending-text{text-align: center;
padding-left: 30px;
font-family: 'Courier New', Courier, monospace;}


.title-menssage-ending{
    transition: transform 5s ease-in-out;
    
}
.formulario-menssage:hover .title-menssage-ending{
    transform: rotateY(360deg)
}
.content-menssage-ending{
    transition: transform 5s ease-in-out;
    transform: rotateY(-180deg);
}
.formulario-menssage:hover .content-menssage-ending{
    transform: rotateY(360deg);
}

.content-menssage-sidebar{ 
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center; 
    background-size: cover;
}
.container-sidebar-menssage{
    width: 100%;
}
.container-sidebar-menssage p{
    text-align: center;
    color: #1e847f
}

.content-widget-repeater {
    padding: 30px;
}



/*repeat*/
.img-principal-repeater{ 
    width: 100%;
}
.img-principal-repeater img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.block-1-repeat{
    margin-top: 10px;
    margin-bottom: 10px;
}
.block-1-repeat h2{
    padding: 10px;
    text-align: center;
}
.block-1-repeat h6{
    padding: 10px;
}

/*repeat services*/
.services-repeat-1{font-family: 'Courier New', Courier, monospace;
}
.services-repeat-1 img{width: 400px; height:400px;
margin-top:10px;margin-bottom:10px;
border: 5px double #141414;
text-align: center;
display: block;
margin: 0 auto;
object-fit: cover;

}
.services-repeat-1 img:hover{
    border-radius: 50%;
    }
.services-repeat-1 h2{
 text-align: center;
}

.services-repeat-1 p{
 text-align: center;
 width: 100%;
 height: 300px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: wrap;
 padding: 10px;
}


/*flip container*/

/* O container geral define a perspectiva */  
.flip-container { perspective: 1000;
margin-bottom:20px; }  	

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);  	
}    
.flip-container, .front, .back {  	
  width: 100%;  	
  height: 50px;
  padding: 10px;
}

/* define a velocidade da transição */
.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
/* esconde o verso durante a animação */
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
 left: 0;  
 text-align: center; 
}
    
/* frente posicionada sobre o verso */
/*.front { z-index: 2;  }*/    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }


/*bloco color*/

.bloco-color {
    width: 100%;
    height: auto;  
    align-items: center;
    text-align: center;
    animation: changeBackgroundColor 7s infinite;
  }
  
  @keyframes changeBackgroundColor {
    0% {
      background-color:#ecc19c;
    }
    50% {
      background-color: #1e847f;
    }
    100% {
      background-color: #26495c;
    }
  }
